<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </Console>

        <!-- RollingFile appender configuration -->
        <RollingFile name="fileLogger"
                     fileName="./logs/upcam-client.log"
                     filePattern="./logs/upcam-client-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
            <Policies>
                <!-- Use either TimeBasedTriggeringPolicy or SizeBasedTriggeringPolicy based on your needs -->
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <!-- Delete all files older than 30 days -->
                <Delete basePath="./logs" maxDepth="10">
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root logger referring to console and file appenders -->
        <Root level="info" additivity="true">
            <AppenderRef ref="console" />
            <AppenderRef ref="fileLogger" />
        </Root>
    </Loggers>

</Configuration>
